<%- contentFor('body') %>
	<form class="form" action="<%= contacts == null ? "/novo-contato" : "/contatos/editar/" %>" method="POST">
		<input type="hidden" name="id" value="<%= contacts == null ? "" : contacts[0].id %>">
		<div class="form-group">
			<label>Nome do Contato:</label>
			<input type="text" name="nome" class="form-control" value="<%= contacts == null ? "" : contacts[0].nome %>">
		</div>
		<div class="form-group">
			<label>Telefone:</label>
			<input type="number" name="telefone" class="form-control" value="<%= contacts == null ? "" : contacts[0].telefone %>">
		</div>
		<div class="form-group">
			<label>E-mail:</label>
			<input type="text" name="email" class="form-control" value="<%= contacts == null ? "" : contacts[0].email %>">
		</div>
		<div class="form-group">
			<label>Endereço de Instalação:</label>
			<input type="text" name="endInst" class="form-control" value="<%= contacts == null ? "" : contacts[0].endInst %>">
		</div>
		<div class="form-group">
			<label>Endereço de Cobrança:</label>
			<input type="text" name="endCob" class="form-control" value="<%= contacts == null ? "" : contacts[0].endCob %>">
		</div>
		<div class="form-group">
			<label>Velocidade Instalada:</label>
			<input type="text" name="velocidade" class="form-control" value="<%= contacts == null ? "" : contacts[0].velocidade %>">
		</div>
		<div class="form-group">
			<label>Valor do Plano Mensal:</label>
			<input type="number" name="valor" class="form-control" value="<%= contacts == null ? "" : contacts[0].valor %>">
		</div>
		<button class="btn btn-primary" type="submit">Salvar</button>
	</form>
