<%- contentFor('body') %>

		<h2>Contatos</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Instalação</th>
					<th>Cobrança</th>
					<th>Velocidade</th>
					<th>Valor</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% contacts.forEach(contato => {%>
					<tr>
						<td><%= contato.id %></td>
						<td><%= contato.nome %></td>
						<td><%= contato.telefone %></td>
						<td><%= contato.email %></td>
						<td><%= contato.endInst %></td>
						<td><%= contato.endCob %></td>
						<td><%= contato.velocidade %></td>
						<td><%= contato.valor %></td>
						<td class="text-center"><a href="/contatos/editar/<%= contato.id %>"><button class="btn btn-primary">Editar</button></a></td>
						<td class="text-center"><a href="/contatos/excluir/<%= contato.id %>"><button class="btn btn-danger">Excluir</button></a></td>
					</tr>
				<% }); %>
			</tbody>
		</table>

	<a href="/contatos/"><button class="btn btn-success">Novo Contato</button></a>
